<div class="span12 carousel-content" ng-controller="editorFormCtrl" >
     <span ng-switch="slide.active">
      <div  ng-switch-when="true">
          <script>
              $(".carousel-control.right").hide();
          </script>
          {{changeProgressBar(slide.progress)}}
      </div>
      <div  ng-switch-when="false">
          <script>
              $(".carousel-control.right").show();
          </script>
      </div>
     </span>
    <div class="span8 offset2">

        <div class="row">
            <div class="span7">
                 <br>
                <h3> Congratulations you now have a dataset description!</h3>
                <br><br>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span4 offset2">
                 <h4>Export it as :
					<button type="btn" class="btn btn-primary btn-large" 
							ng-click="downloadFile() "
							class="pull-right" > RDF</button>
				     <img src="img/ajax-loader.gif" id ="spinner"  style="display:none">
				   </h4>
				   
            </div>
        </div>
 		
        </div>
</div>