<div class="span12 carousel-content " ng-controller="editorFormCtrl">

     <span ng-switch="slide.active">
      <div  ng-switch-when="true">{{changeProgressBar(slide.progress)}}</div>
      <div  ng-switch-when="false"></div>
     </span>
    <div class="container-fluid">
        <div class="span8 offset2">
            <div class="row">
                <div class="span4 offset1">
                    <h1> Core Info </h1>
                    <h3>Please complete the following</h3>
                    <br>
                </div>
            </div>
            <div class="row form-group">
                <div class="span2 offset1">
                    <label class="label1" for="inputTitle">Title of your dataset:</label>
                </div>
                <div class="span3">
                     <input type="text" class="form-control input-lg" id="inputTitle" placeholder="" ng-model="data.title">
                    <img src="img/QuestionMarkIcon16.gif" popover-placement="right" popover-trigger="mouseenter"
                         popover="A name given for the data you are creating the VoID for.">
                </div>
            </div>
            <div class="row form-group">
                <div class="span2 offset1">
                    <label class="label1" for="inputURI">A URI for your dataset:</label>
                </div>
                <div class="span3">
                    <input type="url" class="form-control input-lg" id="inputURI" placeholder="http://" ng-model="data.URI">
                    <img src="img/QuestionMarkIcon16.gif" popover-placement="right" popover-trigger="mouseenter"
                         popover="You can define a URI for your dataset. If you leave it blank, a default will be used.">
                </div>
            </div>
            <br>
            <div class="form-group row">
                <div class="span2 offset1">
                    <label class="label1" for="inputDescription">Description of your data:</label>
                </div>
                <div class="span3">
                    <textarea  type="text" class="form-control"  rows="5" id="inputDescription"
                               placeholder="What is this dataset about?" ng-model="data.description"></textarea>
                    <img src="img/QuestionMarkIcon16.gif" popover-placement="right" popover-trigger="mouseenter"
                         popover="A description of the dataset so we can understand it contains.">
                </div>
            </div>
            <br>
        </div>
    </div>
</div>