<div class="span12 carousel-content  ">
      <span ng-switch="slide.active">
      <div  ng-switch-when="true">{{changeProgressBar(slide.progress)}}</div>
      <div  ng-switch-when="false"></div>
     </span>

    <div class="span8 offset2">

        <div class="row">
            <div class="span4 offset1">
                <h1> Publishing information </h1>
                <br>
            </div>
        </div>

        <div class="form-group row">
            <div class="span2 offset1">
                <label class="label2" for="inputPublisher">Who is the publisher?</label>
             </div>
            <div class="span2">
                <input type="url" class="form-control input-lg" id="inputPublisher" placeholder="http://github.com/#me">
            </div>
        </div>
        <br>

        <div  class="form-group row" ng-controller="DatepickerCtrl">
            <div class="span2 offset1">
                <label class="label2" for="inputDateofPublishment">Date of publishment:</label>
            </div>
            <div class="span3">
                <input type="text" id="inputDateofPublishment" datepicker-popup="dd-MMMM-yyyy" ng-model="dt" is-open="opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" />
                <button class="btn" ng-click="open()"><i class="icon-calendar"></i></button>
            </div>
        </div>
        <br>

        <div class="form-group row">
            <div class="span2 offset1">
                <label class="label2" for="inputWebpage">Webpage:</label>
            </div>
            <div class="span2">
                <input type="url" class="form-control input-lg" id="inputWebpage" placeholder="Of documentation">
            </div>
        </div>
        <br>


        <div class="form-group row">
            <div class="span2 offset1">
                 <label class="label2" for="inputLicence">Licence used:</label>
            </div>
            <div class="span2">
                <select class="selectpicker" id='inputLicence'>
                        <option value="http://www.opendatacommons.org/licenses/pddl/">Public Domain for data/databases</option>
                        <option value="http://www.opendatacommons.org/licenses/by/">Attribution for data/databases</option>
                        <option value="http://www.opendatacommons.org/licenses/odbl/">Attribution Share-Alike for data/databases</option>
                        <option value="http://creativecommons.org/publicdomain/zero/1.0/">Creative Commons public domain waiver</option>
                        <option selected="selected" value="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike (CC-BY-SA)</option>
                        <option value="http://www.gnu.org/copyleft/fdl.html">GNU Free Documentation License (GFDL)</option>
                        <option value="other">Other</option>
                        <option>Don't know</option>
                </select>
             </div>
        </div>
        <br>
        <div class="form-group row">
            <div class="span2 offset1">
                <label class="label2" for="inputDownload">Download data from:</label>
            </div>
            <div class="span2">
                <input type="url" class="form-control input-lg" id="inputDownload" placeholder="http://">
            </div>
        </div>
        <br>
        <div class="form-group row">
            <div class="span2 offset1">
                <label  class="label2" for="inputSparql">Sparql Endpoint:</label>
            </div>
            <div class="span2">
                <input type="url" class="form-control input-lg" id="inputSparql" placeholder="http://">
            </div>
        </div>
        <br>
    </div>

</div>