<div class="span12 carousel-content">
   <span ng-switch="slide.active">
      <div  ng-switch-when="true">{{changeProgressBar(slide.progress)}}</div>
      <div  ng-switch-when="false"></div>
     </span>
<h1>Welcome to VoID editor </h1>
    <br><br>
         <h3> Who are you?</h3>
        <div class="form-group">
            <label for="inputEmail">Name:</label>
            <input type="text" class="form-control" id="inputName" placeholder="Name">
        </div>
    <br>
        <div class="form-group">
            <label for="inputEmail">Email:</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="Enter email">
        </div>

</div>



