<div class="span12 carousel-content">
     <span ng-switch="slide.active">
      <div  ng-switch-when="true">{{changeProgressBar(slide.progress)}}</div>
      <div  ng-switch-when="false"></div>
     </span>
    <div class="span8 offset2">

        <div class="row">
            <div class="span4 offset1">
                <h1> Summary</h1>
                <br>
                <h3> Congratulations you now have a dataset description!</h3>
                <br>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="span2 offset2">
                <button  type="button" class="btn btn-primary btn-large"> VoID</button>
                <button  type="button" class="btn btn-default btn-large "> RDF</button>
            </div>
        </div>
        </div>
</div>