<div class="span12 carousel-content">
    <span ng-switch="slide.active">
      <div  ng-switch-when="true">{{changeProgressBar(slide.progress)}}</div>
      <div  ng-switch-when="false"></div>
    </span>

    <div class="span8 offset2">

        <div class="row">
            <div class="span4 offset1">
                <h1> Versioning Info </h1>
                <br>
            </div>
        </div>

        <div class="form-group row">
            <div class="span2 offset1">
                 <label class="label1" for="inputVersion">Version:</label>
            </div>
            <div class="span2">
                 <input type="text" class="form-control input-lg" id="inputVersion" placeholder="0.0.1"  >
            </div>

        </div>
        <br>
        <div class="form-group row">
            <div class="span2 offset1">
                <label for="inputPreviousVersion">Link to previous version:</label>
            </div>
            <div class="span2">
                <input type="url" class="form-control input-lg" id="inputPreviousVersion" placeholder="http://">
            </div>
        </div>
        <br>

        <div class="form-group row">
            <div class="span2 offset1">
                 <label for="inputUpdateFreq">Dataset update frequency:</label>
            </div>
            <div class="span2">
                <select class="selectpicker" id='inputUpdateFreq' multiple title='Choose one of the following...'>
                    <option>Triennial </option>
                    <option>Biennial </option>
                    <option>Annual </option>
                    <option>Semiannual </option>
                    <option>Three times a year</option>
                    <option>Quarterly</option>
                    <option>Bimonthly </option>
                    <option>Monthly  </option>
                    <option>Semimonthly </option>
                    <option>Biweekly</option>
                    <option>Three times a month </option>
                    <option>Weekly   </option>
                    <option>Semiweekly  </option>
                    <option>Biweekly</option>
                    <option>Three times a week  </option>
                    <option>Monthly  </option>
                    <option>Daily  </option>
                    <option>Continuous </option>
                    <option>Irregular </option>
                    <option>Don't know</option>
                </select>
            </div>
        </div>
         <br>
        <div class="form-group row">
            <div class="span2 offset1">
                 <label for="inputVocabUpdateFreq">Vocab update frequency::</label>
            </div>
            <div class="span2">
                <select class="selectpicker" id='inputVocabUpdateFreq' multiple title='Choose one of the following...'>
                    <option>Triennial </option>
                    <option>Biennial </option>
                    <option>Annual </option>
                    <option>Semiannual </option>
                    <option>Three times a year</option>
                    <option>Quarterly</option>
                    <option>Bimonthly </option>
                    <option>Monthly  </option>
                    <option>Semimonthly </option>
                    <option>Biweekly</option>
                    <option>Three times a month </option>
                    <option>Weekly   </option>
                    <option>Semiweekly  </option>
                    <option>Biweekly</option>
                    <option>Three times a week  </option>
                    <option>Monthly  </option>
                    <option>Daily  </option>
                    <option>Continuous </option>
                    <option>Irregular </option>
                    <option>Don't know</option>
                </select>
            </div>
        </div>

  </div>
</div>