<div class="span12 carousel-content ">

     <span ng-switch="slide.active">
      <div  ng-switch-when="true">{{changeProgressBar(slide.progress)}}</div>
      <div  ng-switch-when="false"></div>
     </span>
    <div class="container-fluid">
        <div class="span8 offset2">
            <div class="row">
                <div class="span4 offset1">
                    <h1> Core Info </h1>
                    <br>
                    <h3>Please complete the following</h3>
                </div>
            </div>
            <div class="row form-group">
                <div class="span2 offset1">
                    <label class="label1" for="inputTitle">Title:</label>

                </div>
                <div class="span3">
                     <input type="text" class="form-control input-lg" id="inputTitle" placeholder="">
                    <img src="img/QuestionMarkIcon16.gif" popover-placement="right"
                         popover=" A name given to the resource.">

                </div>
            </div>
            <br>
            <div class="form-group row">
                <div class="span2 offset1">
                    <label class="label1" for="inputDescription">Description:</label>
                </div>
                <div class="span3">
                    <textarea  type="text" class="form-control"  rows="2" id="inputDescription" placeholder="What is this dataset about?">
                    </textarea>
                    <img src="img/QuestionMarkIcon16.gif" popover-placement="right"
                         popover="A description of the dataset so we can understand it contains.">
                </div>
            </div>
            <br>
            <div class="form-group row " >
                <div class="span2 offset1">
                    Is the data formatted as:
                 </div>
                <div class="radio span2">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="rdf" checked>
                        RDF
                    </label>
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="non-rdf">
                        Non-RDF
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>