<!doctype html>
<html lang="en" id="ng-app" ng-app="editorApp" ng-controller="editorCtrl">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Dataset Description Tool">
    <meta name="author" content="Lefteris Tatakis">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/ops_logo.png">
    <title ng-bind="title">Documentation</title>
    <link rel="stylesheet" href="css/bootstrap-responsive.css">
    <link rel="stylesheet" href="css/progressbar.css">
    <link rel="stylesheet" href="css/bootstrap-combined.min.css">
    <link rel="stylesheet" href="css/animations.css">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/glyphicons.css">
    <script src="lib/jquery/jquery-1.10.2.js"></script>
    <script src="lib/jquery-ui/jquery-ui-1.10.3.custom.js"></script>
    <script src="lib/angular/angular1.2.2.min.js"></script>
    <script src="lib/angular/angular-route.js"></script>
    <script src="lib/angular/angular-sanitize.js"></script>
    <script src="lib/angular/angular-resource.js"></script>
    <script src="lib/angular/angular-loader.js"></script>
    <script>
        document.write('<base href="' + document.location + '" />');
    </script>
    <script>
        function MainCtrl($scope, $location, $anchorScroll) {
            $scope.scrollTo = function(id) {
                $location.hash(id);
                console.log($location.hash());
                $anchorScroll();
            };
        };
    </script>
</head>
<body>
<header>
    <!--[if lt IE 10]>
    <alert>
        <strong style="vertical-align: top">Warning:</strong>

        <div style="display: inline-block">
            Your experience of this application may suffer in outdated versions of Internet Explorer, including the
            potential corruption or loss of important information.<br/> You are strongly advised to update.
        </div>
    </alert><![endif]--><!--[if lte IE 8]>
    <script src="lib/json2.js"></script><![endif]-->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-46552073-1']);
        _gaq.push(['_trackPageview']);
        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();

    </script>

</header>

<div class="container" >
<div class="row span12">
    <div class="container">
        <h1 class="pull-left">
            <a href="http://www.openphacts.org" target="_blank"> <img class="pull-left" src="img/ops_logo.png"
                                                                      alt="Logo"> </a>
            <span>VoID Editor Documentation</span>
        </h1>
        <ul class="nav nav-pills pull-right" ng-controller="ModalAboutCtrl"
            style="text-align: center; vertical-align: middle; margin-top: 25px;">
            <li><a style="" href="http://voideditor.cs.man.ac.uk/linksets.html" target="_blank">Linkset Creator</a></li>
            <li><a href="http://voideditor.cs.man.ac.uk" target="_blank">VoID Editor</a></li>
            <li>
                <script type="text/ng-template" id="myModalContentAbout.html">
                    <div class="modal-header">
                        <img src="img/manch.png" alt="UoM logo"/>

                        <h3 class="h3NeededFields "> About the Void Editor v2</h3>
                    </div>
                    <div class="modal-body">
                        <p>The Open PHACTS VoID editor v2 is developed and maintained by <a
                                href="http://ltatakis.com" target="_blank"
                                rel="dcterms:creator doap:maintainer">Lefteris Tatakis</a>, as a final year
                            undergraduate project at the University of Manchester, UK.
                        </p>

                        <p>This project is supervised by Prof Carole Goble and has been developed within the context of
                            the <a href="http://www.openphacts.com/" target="_blank">Open PHACTS</a> project and aims to
                            help dataset publishers to create a valid, according to the <a
                                    href="http://www.openphacts.org/specs/2013/WD-datadesc-20130912/"
                                    target="_blank">Open PHACTS specification</a>, VoID description for deployment with
                            their dataset.
                        </p>

                        <p>The code was last updated on <span property="dcterms:modified">
                                <datatype property="xsd:date">July 2014</datatype> </span>. The code for the Open PHACTS
                            editor is available from <a href="https://github.com/openphacts/Void-Editor2"
                                                        target="_blank"> https://github.com/openphacts/Void-Editor2</a>.
                        </p>
                        <p>
                            In case you have a feature request or want to file a bug, please contact <a
                                href="mailto:info@openphactsfoundation.org">email</a>.
                        </p>
                        <br>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-warning" ng-click="closeModal()">Close</button>
                    </div>
                </script>
                <a ng-click="open();" style="cursor: pointer;" target="_blank">About</a>
            </li>
        </ul>
    </div>
</div>
<div class="row span12">
    <div class="">
        <div class="fluid menu ng-scope" ng-controller="DropdownCtrl">
            <ul class="nav nav-pills pull-left"
                style="text-align: center; vertical-align: middle; width: 100%;margin-top:6px; color:white">
                <li><a style="margin-left:10px; color:white;" href="http://voideditor.cs.man.ac.uk/documentation.html">How
                    to use</a></li>
                <li><a style="color:white;" href="/documents/java/index.html">Java Documentation</a></li>
                <li class="dropdown" on-toggle="toggled(open)">
                    <a href class="dropdown-toggle " style="color:white;"> Javascript Documentation </a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="choice in items">
                            <a href="{{choice.link}}">{{choice.name}}</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a style="color:white;" href="/extend.html">How to extend</a>
                </li>
            </ul>

        </div>
    </div>
</div>

<div class="row span12"  ng-controller="MainCtrl">
    <div style="min-height:500px;" class="span9" role="main" >



        <div  id="main">
            <h3 id="top"> VoID Editor</h3>
            <p>

                This project focuses on the Life Science domain within the Semantic Web, targeting the importance of
                provenance in the global project of <a href="http://www.openphacts.org/">Open PHACTS</a>, Open
                Pharmaceutical Space. Open PHACTS is a multi-source pool of information which brings together
                Pharmaceutical, Chemical and Biological data. In order to be able to manage the life cycle of this
                information within the Open PHACTS repositories, Open PHACTS requires each additional individual
                data-source to have a small “header” file which provides all the necessary information to ensure
                provenance of the data. This file is called a VoID dataset description.

            </p>

            <p>This VoID data description is created according to the <a
                    href="http://www.openphacts.org/specs/2013/WD-datadesc-20130912/"
                    target="_blank">Open PHACTS specification</a> . </p>
            <br>

            <h3 id="underthehood">Under the Hood</h3>

            <p>
                By pressing the "Under the Hood" button you are able to see progress of creation of the VoID for the dataset
                being described (See Figure below).
            </p>

            <p style=" text-align: center;">
                <img alt="" src="img/modalImage.png"
                     title="VoID Editor Modal - To view RDF produces" id="modal.png"></p>
            <br>

            <h3 id="import">Import VoID </h3>

            <p>This allows you to upload previous versions of VoID dataset descriptions. This allows the user to easily
                update and modify VoID files. The VoID imported must be created by the VoID Editor.</p>

            <p style=" text-align: center;">
                <img alt="" src="img/ShowImport.png"
                     title="VoID Editor Import - To import previous versions of VoID" id="import.png"></p>
            <br>

            <h3 id="orcid">ORCID</h3>


            <p>When providing your information in the "User Info" tab, you are able to provide your <a
                    href="http://orcid.org/" target="_blank">ORCID </a> ID and the VoID Editor will go to the ORCID API
                to retrieve your full name and add this information in the VoID dataset description. </p>
            <br>

            <h3 id="stats">Statistical Analysis</h3>

            <p> This allows the user to provide an RDF dataset or a spraql endpoint and the VoID Editor will query them in
                order to retrieve some basic statistical analysis.</p>

            <p style=" text-align: center;">
                <img alt="" src="img/stats.png"
                     title="VoID Editor Stats - To import dataset or provide sparql endpoints for statistical analysis."
                     id="stats.png"></p>

            <br>

            <h3 id="datasetypes">Dataset Distributions</h3>

            <p>
                Through the VoID editor you are able to describe the distributions of the dataset you wish to describe.
            </p>

            <p style=" text-align: center;">
                <img alt="" src="img/types.png"
                     title="VoID Editor Dataset Types"
                     id="types.png"></p>
            <br>

            <h3 id="contributors"> Multiple Contributors</h3>

            <p>The VoID Editor allows you to add all people that contributed to the creation of the dataset. You are
                also able to define what role each contributor had : author, curator or contributed in some other
                way.</p>

            <p style=" text-align: center;">
                <img alt="" src="img/contributors.png"
                     title="VoID Editor contributors"
                     id="contributors.png"></p>
            <br>

            <h3 id="sources">Incorporating Sources in your dataset</h3>

            <p> Allows the users to incorporate data sources used in the dataset they are describing in a key feature of
                the VoID Editor.</p>

            <p style=" text-align: center;">
                <img alt="" src="img/sources.png"
                     title="VoID Editor Incorporating sources."
                     id="sources.png"></p>
            <br>

            <h3 id="export"> Download VoID</h3>

            <p> Once you have created the VoID correctly and inputed all the necessary information the user can download
                the VoID dataset description.</p>

            <p style=" text-align: center;">
                <img alt="" src="img/download.png"
                     title="VoID Editor Download- Downloading data once finished."
                     id="download.png"></p>
        </div>

        <br>

        <div class="span9">
            <h1 id="linkset" >Linkset Creator</h1>
            <h3 id="whatisalinkset">What is a linkset?</h3>
            <p> A linkset is a set of links relating records in two datasets.
                All subjects are in one dataset and all objects are in another dataset.
                These links all use the same link predicate.</p>
           <br>
            <h3 id="diff">Is the Linkset creator different from the VoID Editor?</h3>
            <p> Yes, the VoID editor creates the VoID descriptions for the dataset, whilst the Linkset Creator creates a VoID
                describing the links that exist within that dataset. </p>

            <br>

            <h3 id="linksetUndertheHood">Under the Hood</h3>
            <p>
                By pressing the "Under the Hood" button, you are able to see progress of creation of the VoID for the Linkset.(See Figure below).
            </p>

            <p style=" text-align: center;">
                <img alt="" src="img/linkmodal.png"
                     title="Linkset Creator Modal - To view RDF produces" id="linkmodal.png"></p>
            <br>
            <h3 id="linksetContributors"> Multiple Contributors</h3>

            <p>The Linkset Creator allows you to add all people that contributed to the creation of the linkset. You are
                also able to define what role each contributor had : author, curator or contributed in some other
                way.</p>

            <p style=" text-align: center;">
                <img alt="" src="img/linksetContributors.png"
                     title="Linkset creator contributors UI"
                     id="linksetContributors.png"></p>
            <br>

            <h3 id="sourcetarget">Source / Target</h3>
            <p>

            </p>

            <p style=" text-align: center;">
                <img alt="" src="img/sourcetarget.png"
                     title="Linkset Creator source - target" id="source.png"></p>
            <br>


            <h3 id="linking">Linking</h3>
            <p>

            </p>

            <p style=" text-align: center;">
                <img alt="" src="img/linking.png"
                     title="Linkset Creator linking" id="linking.png"></p>
            <br>
            <h3 id="linksetdownload">Download</h3>
            <p>
                Once you have created the VoID correctly and inputed all the necessary information the user can download
                the VoID Linkset description.
            </p>

            <p style=" text-align: center;">
                <img alt="" src="img/linksetdownload.png"
                     title="Linkset Creator linksetdownload" id="linksetdownload.png"></p>
            <br>


        </div>

    </div>
<div class="span2">
    <div class=" pull-right" role="complementary" style="margin-top: 10px;position: fixed; margin-left:2%; cursor:pointer;">
        <ul class="nav bs-docs-sidenav">

            <li class="active">
                <h4><a ng-click="scrollTo('top')">VoiD Editor</a></h4>
                <ul class="nav">
                    <li class=""><a ng-click="scrollTo('underthehood')">Under the Hood</a></li>
                    <li class=""><a ng-click="scrollTo('import')">Import VoID </a></li>
                    <li class=""><a ng-click="scrollTo('orcid')">ORCID</a></li>
                    <li class=""><a ng-click="scrollTo('datasetypes')">Dataset types</a></li>
                    <li class=""><a ng-click="scrollTo('stats')">Statistical Analysis</a></li>
                    <li class=""><a ng-click="scrollTo('contributors')">Multiple Contributors</a></li>
                    <li class=""><a ng-click="scrollTo('sources')">Incorporating Sources in your dataset</a></li>
                    <li class=""><a ng-click="scrollTo('export')">Download VoID</a></li>
                </ul>
            </li>

            <li>
                <h4><a ng-click="scrollTo('linkset')">Linkset Creator</a></h4>
                <ul class="nav">
                    <li><a ng-click="scrollTo('whatisalinkset')">What is a linkset?</a></li>
                    <li><a ng-click="scrollTo('diff')">Is the Linkset creator different from the VoID Editor?</a></li>
                    <li><a ng-click="scrollTo('linksetUndertheHood')">Under the Hood</a></li>
                    <li><a ng-click="scrollTo('linksetContributors')">Multiple Contributors</a></li>
                    <li><a ng-click="scrollTo('sourcetarget')">Source / Target</a></li>
                    <li><a ng-click="scrollTo('linking')">Linking</a></li>
                    <li><a ng-click="scrollTo('linksetdownload')">Download</a></li>
                </ul>
            </li>

        </ul>
        <a class="back-to-top" href="#top">
            Back to top
        </a>
    </div>

</div>


</div>
<div class="row span12">
    <footer>
        <small>
            <span class="muted"><span ng-bind="title">...</span> v2 copyright &copy; 2014 OpenPhacts - Lefteris Tatakis</span>
        </small>
    </footer>
</div>

</div>


<script src="lib/ui-bootstrap/ui-bootstrap-0.6.0.js"></script>
<script src="lib/ui-bootstrap/ui-bootstrap-tpls-0.6.0.js"></script>
<script src="lib/moment/moment.min.js"></script>
<script src="js/datasets/controllers.js"></script>
<script src="js/datasets/services.js"></script>
<script src="js/datasets/app.js"></script>
<script src="js/datasets/modal.js"></script>
<script src="js/datasets/datepicker.js"></script>
<script src="js/datasets/directives.js"></script>
<script src="js/dropdown.js"></script>

</body>
</html>
