<!doctype html>
<html lang="en" id="ng-app" ng-app="editorApp" ng-controller="editorCtrl">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Dataset Description Tool">
    <meta name="author" content="Lefteris Tatakis">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/ops_logo.png">
    <title ng-bind="title">Documentation</title>
    <link rel="stylesheet" href="css/bootstrap-responsive.css">
    <link rel="stylesheet" href="css/progressbar.css">
    <link rel="stylesheet" href="css/bootstrap-combined.min.css">
    <link rel="stylesheet" href="css/animations.css">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/glyphicons.css">
    <script src="lib/jquery/jquery-1.10.2.js"></script>
    <script src="lib/jquery-ui/jquery-ui-1.10.3.custom.js"></script>
    <script src="lib/angular/angular1.2.2.min.js"></script>
    <script src="lib/angular/angular-route.js"></script>
    <script src="lib/angular/angular-sanitize.js"></script>
    <script src="lib/angular/angular-resource.js"></script>
    <script src="lib/angular/angular-loader.js"></script>
    <script>
        document.write('<base href="' + document.location + '" />');
    </script>
    <script>
        function MainCtrl($scope, $location, $anchorScroll) {
            $scope.scrollTo = function(id) {
                $location.hash(id);
                console.log($location.hash());
                $anchorScroll();
            };
        };
    </script>
</head>
<body>
<header>
    <!--[if lt IE 10]>
    <alert>
        <strong style="vertical-align: top">Warning:</strong>

        <div style="display: inline-block">
            Your experience of this application may suffer in outdated versions of Internet Explorer, including the
            potential corruption or loss of important information.<br/> You are strongly advised to update.
        </div>
    </alert><![endif]--><!--[if lte IE 8]>
    <script src="lib/json2.js"></script><![endif]-->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-46552073-1']);
        _gaq.push(['_trackPageview']);
        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();

    </script>

</header>

<div class="container" >
<div class="row span12">
    <div class="container">
        <h1 class="pull-left">
            <a href="http://www.openphacts.org" target="_blank"> <img class="pull-left" src="img/ops_logo.png"
                                                                      alt="Logo"> </a>
            <span>VoID Editor Documentation</span>
        </h1>
        <ul class="nav nav-pills pull-right" ng-controller="ModalAboutCtrl"
            style="text-align: center; vertical-align: middle; margin-top: 25px;">
            <li><a style="" href="http://voideditor.cs.man.ac.uk/linksets.html" target="_blank">Linkset Creator</a></li>
            <li><a href="http://voideditor.cs.man.ac.uk" target="_blank">VoID Editor</a></li>
            <li>
                <script type="text/ng-template" id="myModalContentAbout.html">
                    <div class="modal-header">
                        <img src="img/manch.png" alt="UoM logo"/>

                        <h3 class="h3NeededFields "> About the Void Editor v2</h3>
                    </div>
                    <div class="modal-body">
                        <p>The Open PHACTS VoID editor v2 is developed and maintained by <a
                                href="http://ltatakis.com" target="_blank"
                                rel="dcterms:creator doap:maintainer">Lefteris Tatakis</a>, as a final year
                            undergraduate project at the University of Manchester, UK.
                        </p>

                        <p>This project is supervised by Prof Carole Goble and has been developed within the context of
                            the <a href="http://www.openphacts.com/" target="_blank">Open PHACTS</a> project and aims to
                            help dataset publishers to create a valid, according to the <a
                                    href="http://www.openphacts.org/specs/2013/WD-datadesc-20130912/"
                                    target="_blank">Open PHACTS specification</a>, VoID description for deployment with
                            their dataset.
                        </p>

                        <p>The code was last updated on <span property="dcterms:modified">
                                <datatype property="xsd:date">July 2014</datatype> </span>. The code for the Open PHACTS
                            editor is available from <a href="https://github.com/openphacts/Void-Editor2"
                                                        target="_blank"> https://github.com/openphacts/Void-Editor2</a>.
                        </p>
                        <p>
                            In case you have a feature request or want to file a bug, please contact <a
                                href="mailto:info@openphactsfoundation.org">email</a>.
                        </p>
                        <br>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-warning" ng-click="closeModal()">Close</button>
                    </div>
                </script>
                <a ng-click="open();" style="cursor: pointer;" target="_blank">About</a>
            </li>
        </ul>
    </div>
</div>
<div class="row span12">
    <div class="">
        <div class="fluid menu ng-scope" ng-controller="DropdownCtrl">
            <ul class="nav nav-pills pull-left"
                style="text-align: center; vertical-align: middle; width: 100%;margin-top:6px; color:white">
                <li><a style="margin-left:10px; color:white;" href="http://voideditor.cs.man.ac.uk/documentation.html">How
                    to use</a></li>
                <li><a style="color:white;" href="/documents/java/index.html">Java Documentation</a></li>
                <li class="dropdown" on-toggle="toggled(open)">
                    <a href class="dropdown-toggle " style="color:white;"> Javascript Documentation </a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="choice in items">
                            <a href="{{choice.link}}">{{choice.name}}</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a style="color:white;" href="/extend.html">How to extend</a>
                </li>
            </ul>

        </div>
    </div>
</div>

<div class="row span12"  ng-controller="MainCtrl">
    <div style="min-height:500px;" class="span9" role="main" >
        <div  id="main">
            <h3 id="git">Git Repository </h3>
            <p> All the code for the VoID Editor and the Linkset Creator are on the Open PHACTS GitHub, which can be found
                <a href="github.com/openphacts/Void-Editor2"> here</a>.</p>
            <br>

            <h3 id="order">Changing  order or Adding pages</h3>
            <p>
                To change the order of the pages or add additional ones in the VoID Editor / Linkset Creator, changes
                must be made to the controller "<b>editorCarouselCtrl</b>" or "<b>linksetCarouselCtrl</b>".
            </p>
            <p>
                The naming convention used here for the pages is : "page"+ <b>Index of the page in the carousel</b> +".html" .
              </p>
            <p>
                For the first page of the carousel <b>page.html</b> is only used.
            </p>
            <p>
                When adding a new page to the carousel it must be stored in the folder "<b>partials/datasets</b>" for the
                VoID Editor or  "<b>partials/linksets</b>" for the Linkset Creator.
            </p>

            <p>
                Once the HTML page exists in the one of the folders in <b>partials</b> the page is added into the carousel
                using the function <b>$scope.addSlide</b>. The information to be provided is :
            </p>

            <p >
            <ol style="margin-left: 150px;">
                <li> Index of page in the carousel ( 0 is the first item, 1 is the second etc.). </li>
                <li> The title you require for your page.</li>
                <li> An array of all the fields that are required on that page.</li>
            </ol>
            </p>
            <p> If the fields on the page do not exist in the following list, you must add its value into the validation/error mechanism
             explained in the section "<a ng-click="scrollTo('errors')">Adding Errors</a>".  Pre-existing validation fields :  </p>
            <p>VoID Editor: "title" , "description", "publisher", "webpage", "distributions". </p>
            <p>Linset Creator:  "description", "publisher",  "downloadFrom","userSource" ,"userTarget" .</p>
            <br>
            <pre >
                <code>
 editorAppControllers.controller('editorCarouselCtrl', ['$scope', '$rootScope',
    function CarouselCtrl($scope, $rootScope) {
        ....

      $scope.addSlide = function (i, title, mustFields) {
         var temp;
         //Locations stored
         if (i != 0)   temp = "partials/datasets/page" + i + ".html";
         else  temp = "partials/datasets/page.html";

         //Setting percentage
         ...
      }
        //Adding slides in order required.
        $scope.addSlide(0, "User Info", []);
        //FORMAT :
        //<b>("Index - Position in carousel", "Title" , Array of fields required on the page   )</b>
        $scope.addSlide(1, "Core Info", ["title" , "description", "publisher", "webpage" ]);
        ...

   }]);
            </code>
            </pre>
            <br>

            <h3 id="fields">Adding fields</h3>
            <!--<p>        Html , javascript controller, void attributes, RDF, upload functionality.            </p>-->
            <p> Adding fields to the system must be done in an E2E fashion. This process involves:
                <ol style="margin-left: 150px;">
                    <li> Adding the field to the HTML page.</li>
                    <li> Creation of a JavaScript variable in the main controller( "linksetCtrl" or "editorCtrl").</li>
                    <li> Adding this JavaScript variable to the Java classes responsible for retrieving information for the
                     UI side. These classes are: <b> LinksetAttributes </b> and <b>VoidAttributes</b>.</li>
                    <li> In order to add them inf othe RDF VoID  you must go to <b>VoidTurtle</b> or <b>LinksetTurtle</b>,
                    and include them into the RDF model used.</li>
                    <li> Finally, if the changes are made to the VoID Editor, you much ensure that you are able to parse
                        any uploaded VoID given by the users. This must be done in the <b>VoidUpload</b>.</li>
                </ol>
            <p>
            <p> An example will be used here for the field of "title" in the VoID Editor.</p>
            <p>1. HTML Fragment</p>
                <pre>
                <code>
 &lt; div class="form-group row"&gt;
    ...
    &lt;div class="span3"&gt;
       &lt;input type="text" class="form-control input-large"
                    id="inputTitle" required
                    <b>ng-model="data.title"</b>
                    placeholder=""&gt;
       ...
    &lt;div&gt;
 &lt;div&gt;
    </code>
    </pre>
            <p>2. Java Script Side</p>
                <pre>
                <code>
 editorAppControllers.controller('editorCtrl', [  '$scope', '$rootScope', 'voidData', 'uploadUserData', 'ORCIDService',
    function ($scope, $rootScope, voidData, uploadUserData , ORCIDService) {
        ....
        $rootScope.data.title = "";
        ....
    }]);
                </code>
                </pre>
            <p>3. AngularJS</p>
                <pre>
                <code>
 public class VoidAttributes{
    ....
    public String title= "" ;
    ....
  }
                </code>
                </pre>
            <p>4. Java -  VoIDTurtle </p>
                <pre>
                <code>
 public class VoidTurtle {
    ...
    private String title;
    ...
    public VoidTurtle(VoidAttributes obj) {
        ...
        this.title = obj.title;
        ...
    }
    public void createVoid() throws VoidValidatorException,..., IOException {
        ...
        voidBase.addProperty(DCTerms.title, titleLiteral);
        ...
    }
 }
                </code>
                </pre>
            <p>5. Java - Upload</p>
                <pre>
                <code>
 public class VoidUpload {

    //For simple fields such as title adding them to the map provided in here, should suffice.
    private void createSubjectMap() {
        ...
        mainDatasetSubjects.put("http://purl.org/dc/terms/title", "title");
        ...
    }
 }
                </code>
                </pre>
            <br>


            <h3 id="moveFields">Moving fields to other pages </h3>
            <p>
                Moving fields from one page to another should not be require any major changes to the backend code (Angularjs or Java).
                A few changes will have to be made if the field you moved is a required field with some error messages attached to it.
                Then it will need to be added into the appropriate <b>addSlide</b> parameter described in
                "<a ng-click="scrollTo('order')"> Changing  order or Adding pages</a>".

            </p>
             <br>

            <h3 id="errors">Adding Errors </h3>
            <p>
                To add additional error controls for the fields, the main steps are : add that correct logic into the slide controller,
                which adds an alert to the array of alerts and finally ensure the correct checking mechanism for the field.
            </p>
            <p>
                The  <b>$rootScope.checkMustFieldsOnPreviousPage</b> checks that the fields in the mustFields array are defined appropriately.
                Please define your specifications for each field in here.
            </p>
            <p>
                In <b>$rootScope.addAlert</b> - you define an alert. This alert has an ID, a type (what colour you would like it)
                and a message to display to the users.
            </p>
            <p>
                If you wish to add a small error message / notification to appear  before exporting the RDF you need to add
                an error and its condition in <b>$rootScope.fieldsToAdd</b>.
            </p>
            <br>


            <h3 id="sources">Sources</h3>
             <p>
                If you wish to change the incorporated sources displayed in the Editors all you have to do is change the
                 JsonService provided in the services.js ( see below). Just place the appropriate API call to the
                 endpoint you wish to call upon.
             </p>
            <pre><code>
        var jsonService = angular.module('jsonService', ['ngResource'])
        .factory('JsonService', function ($resource) {
                return $resource('<b>URL TO API HERE</b>');
        });
            </code></pre>
            <p> If the format of the JSON retrieved  has a different format from the current (v1.3) OPS API JSon returned, changes
            will have to be made at the handling mechanism in the "<b>sourceCtrl</b>" Controller.</p>
            <br>


            <h3 id="rdfpredicate">Changing RDF predicates used</h3>
            <p>
                In the Java class <b> VoidUpload </b>  the method <b>processVoid</b> (and its submethods) contains all the  declarations of the data
                in the VoID. Examples of predicates used are:
            </p>
            <p>
            <ul style="text-align: center;">
                <li>Void.Dataset </li>
                <li> DCAT.distribution </li>
                <li> Pav.contributedBy</li>
                <li>FOAF.family_name </li>
                <li>FOAF.primaryTopic </li>
                <li>DCAT.mediaType</li>
            </ul>
            </p>

            <br>
        </div>
    </div>

    <div class="span2">
        <div class=" pull-right" role="complementary" style="margin-top: 10px;position: fixed; margin-left:2%; cursor:pointer;">
            <ul class="nav bs-docs-sidenav">

                <li class="active">
                    <h4><a ng-click="scrollTo('top')">VoiD Editor / Linkset Creator </a></h4>
                    <ul class="nav">
                        <li class=""><a ng-click="scrollTo('git')"> Git Repository</a></li>
                        <li class=""><a ng-click="scrollTo('order')"> Changing  order or Adding pages</a></li>
                        <li class=""><a ng-click="scrollTo('moveFields')">Moving fields to other pages</a></li>
                        <li class=""><a ng-click="scrollTo('fields')">Adding fields</a></li>
                        <li class=""><a ng-click="scrollTo('errors')">Adding Errors</a></li>
                        <li class=""><a ng-click="scrollTo('sources')">Sources</a></li>
                        <li class=""><a ng-click="scrollTo('rdfpredicate')">Changing RDF predicates used</a></li>
                    </ul>
                </li>

             </ul>
            <a class="back-to-top" href="#top">
                Back to top
            </a>
        </div>
</div>

    <div class="row span12">
    <footer>
        <small>
            <span class="muted"><span ng-bind="title">...</span> v2 copyright &copy; 2014 OpenPhacts - Lefteris Tatakis</span>
        </small>
    </footer>
</div>

</div>
</div>

<script src="lib/ui-bootstrap/ui-bootstrap-0.6.0.js"></script>
<script src="lib/ui-bootstrap/ui-bootstrap-tpls-0.6.0.js"></script>
<script src="lib/moment/moment.min.js"></script>
<script src="js/datasets/controllers.js"></script>
<script src="js/datasets/services.js"></script>
<script src="js/datasets/app.js"></script>
<script src="js/datasets/modal.js"></script>
<script src="js/datasets/datepicker.js"></script>
<script src="js/datasets/directives.js"></script>
<script src="js/dropdown.js"></script>

</body>
</html>
