<div class="span12 carousel-content  " ng-controller="linksetFormCtrl" >
      <span ng-switch="slide.active">
      <div  ng-switch-when="true">{{changeProgressBar(slide.progress)}}</div>
      <div  ng-switch-when="false"></div>
     </span>

    <div class="span9 offset1AndABit" >

        <div class="row">
            <div class="span7 ">
                <h1>Linking Information</h1>
                <br>
            </div>
        </div>
        <div class="form-group row">
            <div class="spanLabel1 offset1">
                <label for="relationships">Mapping relationship:*</label>
            </div>
            <div class="span3">
                <select class="selectpicker" id='relationships' ng-model="data.relationship">
                    <option  selected="selected"  value="rdfs:seeAlso" >rdfs:seeAlso</option>
                    <option  value="http://www.w3.org/2004/02/skos/core#relatedMatch" >skos:relatedMatch</option>
                    <option  value="http://www.w3.org/2004/02/skos/core#closeMatch" >skos:closeMatch</option>
                    <option  value="http://www.w3.org/2004/02/skos/core#exactMatch" >skos:exactMatch</option>
                    <option  value="http://www.w3.org/TR/owl-ref/#sameAs" > owl:sameAs</option>
                    <option  value="http://www.w3.org/TR/owl-ref/#equivalentClass" >owl:equivalentClass</option>
                    <option  value="http://www.w3.org/2004/02/skos/core#broadMatch" >skos:broadMatch </option>
                    <option  value="http://www.w3.org/2004/02/skos/core#narrowMatch" >skos:narrowMatch </option>
                </select>
                <img src="img/QuestionMarkIcon16.gif" popover-placement="right" popover-trigger="mouseenter" class="pull-right"
                     popover-append-to-body="true"
                     popover="Select the relationship that is used in the data.">
            </div>
        </div>
<br>
        <div class="form-group row">
            <div class="spanLabel1 offset1">
                <label for="justification">Linkset Justification:*</label>
            </div>
            <div class="span3">
                <select class="selectpicker" id='justification' ng-model="data.justification" >
                    <optgroup label="Chemical Justifications ">
                        <option  value="http://semanticscience.org/resource/SIO_010004">Chemical entity</option>
                        <option  value="http://semanticscience.org/resource/CHEMINF_000480">Has component with uncharged counterpart</option>
                        <option  value="http://semanticscience.org/resource/CHEMINF_000459">Has isotopically unspecified parent</option>
                        <option  value="http://semanticscience.org/resource/CHEMINF_000486">Has major tautomer at pH 7.4</option>
                        <option  value="http://semanticscience.org/resource/CHEMINF_000458">Has OPS normalized counterpart</option>
                        <option  value="http://purl.obolibrary.org/obo#has_part">Has part</option>
                        <option  value="http://semanticscience.org/resource/CHEMINF_000456">Has stereoundefined parent</option>
                        <option  value="http://semanticscience.org/resource/CHEMINF_000460">Has uncharged counterpart</option>
                        <option  selected="selected" value="http://semanticscience.org/resource/CHEMINF_000059">InChI Key</option>
                        <option  value="http://purl.obolibrary.org/obo#is_tautomer_of">Is tautomer of</option>
                    </optgroup>
                    <optgroup label=" Relating Pathways">
                        <option  value="http://semanticscience.org/resource/SIO_001107">Pathway</option>
                        <option  value="http://edamontology.org/data_2342">Pathway name</option>
                    </optgroup>
                    <optgroup label="Relating Targets">
                        <option  value="http://semanticscience.org/resource/SIO_000986">Functional RNA coding gene</option>
                        <option  value="http://semanticscience.org/resource/SIO_010035">Gene</option>
                        <option  value="http://www.obofoundry.org/ro/ro.owl#has_part">Has part</option>
                        <option  value="http://semanticscience.org/resource/SIO_010099">mRNA</option>
                        <option  value="http://semanticscience.org/resource/SIO_010043">Protein</option>
                        <option  value="http://semanticscience.org/resource/SIO_000985">Protein coding gene</option>
                        <option  value="http://edamontology.org/data_1460">Protein structure</option>
                        <option  value="http://semanticscience.org/resource/SIO_010009">RNA</option>
                        <option  value="http://semanticscience.org/resource/SIO_010423">Target</option>
                    </optgroup>
                    <optgroup label="Miscellaneous">
                        <option  value="http://semanticscience.org/resource/SIO_001166">Annotation</option>
                        <option  value="http://semanticscience.org/resource/SIO_001171">Database cross-reference</option>
                    </optgroup>
                </select>
                <img src="img/QuestionMarkIcon16.gif" popover-placement="right" popover-trigger="mouseenter" class="pull-right"
                     popover-append-to-body="true"
                     popover="The reason why the Linkset claims these concepts are equivalent. For example:
                      A linkset between two chemicals that share the same chemical structure would use the value 'InChI Key'.">
            </div>
        </div>

<br>
        <div class="form-group row">
            <div class="spanLabel1 offset1 ">
                <label for="assertionMethod">Linkset asserted method:</label>
            </div>
            <div class="span3">
                <select class="selectpicker" id='assertionMethod' ng-model="data.assertionMethod">
                    <option  value="http://purl.obolibrary.org/obo/ECO_0000203" >Automatic assertion</option>
                    <option  value="http://purl.obolibrary.org/obo/ECO_0000218" >Manual assertion</option>
                    <option  value="" >Don't know</option>
                </select>
                <img  src="img/QuestionMarkIcon16.gif" popover-placement="right"  popover-trigger="mouseenter" class="pull-right"
                      popover-append-to-body="true"
                      popover="Please specify the method by which the links in the Linkset have been asserted.
                      Please note that: manual assertion includes computer generated assertions that have been manually verified.">
            </div>
        </div>
        <br>
        <div class="form-group row">
            <div class="spanLabel1 offset1">
                <label for="sDatatype">Subjects Datatype:*</label>
            </div>
            <div class="span3">
                <select class="selectpicker" id='sDatatype' ng-model="data.subjectDatatype" >
                    <option  value="http://semanticscience.org/resource/SIO_001166">Annotation</option>
                    <option  value="http://semanticscience.org/resource/SIO_010004">Chemical Entity</option>
                    <option  value="http://semanticscience.org/resource/SIO_010299">Disease</option>
                    <option  value="http://semanticscience.org/resource/SIO_010038">Drug</option>
                    <option  value="http://semanticscience.org/resource/SIO_010035">Gene</option>
                    <option  value="http://semanticscience.org/resource/SIO_010432">Ligand</option>
                    <option  value="http://semanticscience.org/resource/SIO_010099">mRNA</option>
                    <option  value="http://semanticscience.org/resource/SIO_001107">Pathway</option>
                    <option  value="http://semanticscience.org/resource/SIO_010043">Protein</option>
                    <option  value="http://semanticscience.org/resource/SIO_010009">RNA</option>

                </select>
                <img src="img/QuestionMarkIcon16.gif" popover-placement="right" popover-trigger="mouseenter" class="pull-right"
                     popover-append-to-body="true"
                     popover="The type of concept the subjects of the triples in the Linkset represent. For example:
                     A linkset between ConceptWiki and ChemSpider would declare its subjects datatype to be Chemical Entities.">
            </div>
        </div>
        <br>
        <div class="form-group row">
            <div class="spanLabel1 offset1">
                <label for="tDatatype">Targets Datatype:*</label>
            </div>
            <div class="span3">
                <select class="selectpicker" id='tDatatype' ng-model="data.targetDatatype" >
                    <option  value="http://semanticscience.org/resource/SIO_001166">Annotation</option>
                    <option  value="http://semanticscience.org/resource/SIO_010004">Chemical Entity</option>
                    <option  value="http://semanticscience.org/resource/SIO_010299">Disease</option>
                    <option  value="http://semanticscience.org/resource/SIO_010038">Drug</option>
                    <option  value="http://semanticscience.org/resource/SIO_010035">Gene</option>
                    <option  value="http://semanticscience.org/resource/SIO_010432">Ligand</option>
                    <option  value="http://semanticscience.org/resource/SIO_010099">mRNA</option>
                    <option  value="http://semanticscience.org/resource/SIO_001107">Pathway</option>
                    <option  value="http://semanticscience.org/resource/SIO_010043">Protein</option>
                    <option  value="http://semanticscience.org/resource/SIO_010009">RNA</option>

                </select>
                <img src="img/QuestionMarkIcon16.gif" popover-placement="right" popover-trigger="mouseenter" class="pull-right"
                     popover-append-to-body="true"
                     popover="The type of concept the objects of the triples in the Linkset represent.
                     A linkset between ChemSpider and ConceptWiki would declare its objects datatype to be Chemical Entities. ">
            </div>
        </div>
        <br>
    </div>

</div>